svg {width: 300px; height: 250px; border: 2px solid white; background-color:#333333; padding-left: 90px; padding-bottom: 20px; margin-bottom: 0px; }
.divFrame {position:relative; z-index:1;}

/*折線グラフの線設定*/
.clsLineVSpeed { fill: none; stroke: dodgerblue; stroke-width:2.8px; z-index:10; opacity:1;}
.clsLineLat {    fill: none; stroke: yellow; stroke-width:2.8px; z-index:10;}
.clsLineLng {    fill: none; stroke: lightgreen; stroke-width:2.8px; z-index:10;}

.xGrid { fill: none; stroke: white; stroke-width:2px; stroke-dasharray:5 5;}
.yGrid { fill: none; stroke: white; stroke-width:2px; stroke-dasharray:5 5;}
.axis text{ font-family: sans-serif; font-size: 16px; font-weight: bold; opacity: 1; fill: white; } /* font for scale */
.scale { font-family: sans-serif; font-size: 15px; opacity: 1; fill: black; }

.dataLabel {
  position: absolute;
  left: 5px;top: 5px;
  color: white ;opacity: 0.3; /*color: black ;opacity: 0.3;*/
  font-weight: bold;
  font-size: 25px; font-family: "sans-serif";
  z-index: 1;
}
.tooltip-content {
  visibility: hidden;
  position: absolute;
  width: 120px;
  height: 38px;
  left: 100px; top: 100px;
  background-color: #ffffe1;
  border: 1px black solid;
  padding: 3px;
  z-index: 2;
  opacity: 0.7;
  font-size:12px;
}
.clsFrame {
  border: 1px black solid;
  height: 20px;
  background-color: #dddddd;
  margin: 2px;
  padding: 1px;
  display:inline-block;
}

#idBtnSetAll {
  height: 20px;
}
.clsGraphFrame {
  display:inline-block;
  border:solid black 2px; 
}

.divFrame {
  display:inline-block;
  width:400px;
  border:solid black 2px; 
}

.spanTitle {
  display:inline-block;
  width:100px;
  vertical-align:top;
  font-weight: bold;
  font-size: 20px; font-family: "sans-serif";
}

.clsGraphTitle {
  font-weight: bold;
  font-size: 30px;
  font-family: meiryo, "MS PGothic", "sans-serif";
}

