[v-cloak]  {
    visibility : hidden;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: arial;
    /* text-align: center; */
}

#field {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 50;
}

#home{
    width:100%;
    height:100%;
}
#app{
    width:100%;
    height:100%;
}
#driving{
    width:100%;
    height:100%;
}



#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

#player {
    position: absolute;
    z-index: 0;
}

#player_cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#loader {
    background: #000 url("http://jsrun.it/assets/K/1/9/U/K19UZ.gif") no-repeat center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


head{
    border-radius:10px;
}

header{
    margin-right:20%;
    margin-left:20%;
    border-radius:10px;
}

h1{
    background-color:#00b0f0;
    color:#fff;
    margin-top:0px;
    border-radius:10px,0px,0px,10px;
}

h2{
    color:#00b0f0;
}


img.header{
    width:30px;
    height:30px;
    margin-top:5px;
}

img.title{
    width:100%;
    margin-top:5px;
    margin-bottom:20px;
}

#app{
    border-style:none;
    border-radius:10px;
}

#login{
    margin-right:20%;
    margin-left:20%;
    border-style:solid;
    border-color:#00b0f0;
    border-radius:10px;
    }

    button{
         position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00b0f0;
    border: solid 1px #0f9ada;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }

    button:active {
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

hr{
     margin-bottom:0px; 
     border: 0;
}